region 				= "<your-desired-region>"
aws_profile 			= "<your-profile-here>"
keypair_name			= "<your-keypair-name>"
vpc_name			= "<your-vpc-name>"
vpc_cidr			= "<your-vpc-cidr>"
availabiltiy_zone_1		= "<your-availability-zone-1>"
availabiltiy_zone_1_cidr	= "<your-availability-zone-1-cidr>"
availabiltiy_zone_2		= "<your-availability-zone-2>"
availabiltiy_zone_2_cidr	= "<your-availability-zone-2-cidr>"
cert_domain			= "<*.fqdn.com>"
domain				= "<your.domain.com>"
